* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
    color: #f5deb3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;

    justify-content: space-between;
}

.form-blur {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.658);

}

#mainForm {
    display: none;
    background-color: #3e2723;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    width: 300px;
    height: 50vh;
    text-align: center;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(3px);

}


input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #2c2c2c;
    color: #f5deb3;
}

input::placeholder {
    color: #ffffffc5;

}

input:focus {
    background: white;
    color: black;

}

button {
    background-color: #8b4513;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#submitButton {
    background: rgb(179, 179, 5);
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

}

button:hover {
    background-color: #a0522d;
}

.list-title {
    color: #d2b48c;
    font-size: 240px;
    margin-bottom: 10px;
    text-decoration: underline;
}




.modal_form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
}

.inputmodal {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #2c2c2c;
    color: #f5deb3;
    border: 1px dashed rgba(0, 0, 0, 0.699);

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(2px);
}

.modal-content {
    background-color: #3e2723;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #f5deb3;
    width: 300px;
    box-shadow: 0 0 10px #000;
}

.TABLE {
    max-width: 100%;
    margin: 5%;
}

.listOfUsersTable {
    width: auto;
    max-width: 100%;
    border: 2px solid black;
    background-color: #2e2e2e;
    border: 1px solid #8b4513;
    border-radius: 10px;

}

.listOfUsersTable tr:last-child th {
    border-bottom: 3px solid #8b4513;
}

.tableHeaders {
    font-size: 1.5rem;
    font-weight: 600;
}

.tableHeaders th {
    border-right: 1px solid #8b4513;
    border-bottom: 1px solid #8b4513;
    padding: 10px;

}

.tableHeaders th:last-child {
    border-right: none;

}

.listOfUsersTable .tableRow td {
    font-family: 'Times New Roman';
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;



}

.tableRow td {
    border-right: 1px DASHED #8b4513;
    border-bottom: 1px solid #8b4513;

}

.tableRow:last-child td {
    border-bottom: none;
}

.tableRow td:last-child {
    border-right: none;

}

#loading-users {
    display: none;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.651);
    text-align: center;
    justify-content: center;
    position: fixed;
    z-index: 16;
    left: 45%;
    margin-top: 10px;

}





@media (max-width: 500px) {


    .TABLE {
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    #mainForm{
        top: 40%;
    }
    .modal{
        top: -15%;
    }

    .TABLE .header {
        position: fixed;
    }

    .TABLE .header h1{
        margin-right: 30px;
    }

    .listOfUsersTable {
        margin-top: 70px;
    }

#loading-users{
    left: 30%;
}

}